<div class="container">
  <h5 class="contact_page">Hi there! I promise I'm super friendly and I won't bite. I just like to eat food, which you can check out on my <strong><a href="www.instagram.com/nickvirden" target="_blank">Instagram</a></strong>.</h5>
</div>

<div class="form_container">
  <div class="row">
    <form class="col s12 m6 l6 push-m3 push-l3">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" required="">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" required="">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" required="">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="tel" type="tel" class="validate" required="">
          <label for="tel">Phone Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6 push-m3 push-l3">
          <input disabled value="Just kidding!" id="disabled" type="text" class="validate">
          <label for="disabled">Social Security Number</label>
        </div>
      </div>
      <div class="col s12 m4 l4 push-m4 push-l4">
        <a class="waves-effect waves-light btn"><i class="mdi-communication-email left"></i>send</a>
      </div>
    </form>
  </div>
</div>